<ng-container *ngIf="file.id === -2">
    <textarea (paste)="onPaste($event)" name="content" id="content" class="code w-100 h-75 "></textarea>
    <a class="fr f6 link pionter ba mt2 bw1 ph3 pv2 mb2 dib black" href="#0">Save as New File</a>
</ng-container>
<ng-container *ngIf="file.id > -2">
    <textarea (paste)="onPaste($event)" name="content" id="content" class="code w-100 h-75 " [(ngModel)]="file.data.text"></textarea>
    <div class="fr">
        <a class="f6 link pionter ba mt2 bw1 ph3 pv2 mb2 dib dim gray" (click)="newFile()">Open New</a>
        <a class="f6 link pionter ba mt2 bw1 ph3 pv2 mb2 dib dim black" (click)="save()">Save</a>
    </div>
</ng-container>