<div class="grid">
  <div class="DesktopGrid cf">
    <div class="ba b--light-green fl h-100 w-100 w-50-ns">
      <csc428-file-explorer></csc428-file-explorer>
    </div>
    <div class="fl h-100 w-100 w-50-ns">
      <div class="DesktopRight">
        <div class="DesktopRightTop">
          <csc428-pdf-viewer></csc428-pdf-viewer>
        </div>
        <div class="DesktopRightBottom ">
          <csc428-text-viewer></csc428-text-viewer>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="dib pt2 pl2">
    <i (click)="toggle()" *ngIf="debug" class="green pointer fa fa-toggle-on" aria-hidden="true"></i>
    <i (click)="toggle()" *ngIf="!debug" class="pointer fa fa-toggle-off" aria-hidden="true"></i>
    <span [class.green]="debug === true" class="pt2 pl2">debug</span>
  </div>
  <a hrer="https://github.com/isthisnagee/desktop" class="mt2 pr3 fr link dim">github</a>
  <p class="pl2" [innerHTML]="debugText">
  </p>
</div>
<csc428-file-selector></csc428-file-selector>