.grid {
  height: 95vh;
  display: grid;
  grid-template-areas: 'desktop' 'dock';
  grid-template-rows: auto max-content;
}
.DesktopGrid {
  width: 100%;
}
.DesktopNav {
  /* height: 5vh; */
  width: 100%;
}

.DesktopRight {
  display: flex;
  flex-flow: column;
  flex: 0 1 50%;
  height: 95vh;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px solid black;
}

.DesktopRightTop,
.DesktopRightBottom {
  flex: 0 0 100%;
  height: 50%;
  max-height: 50%;
  min-height: 50%;
  width: 100%;
  max-width: 100%;
  overflow: scroll;
}

.DesktopNavButton {
  /* margin-right: 0.5rem;
  margin-top: 0.2rem;
  */
  padding: 0.25rem;
  display: inline-block;
  box-shadow: black 1px 1px 1px;
  cursor: pointer;
}
