<div *ngIf="files">
  <h2 class="normal">
    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
    <ng-container *ngFor="let folder of chain; let last=last">
      <span *ngIf="last" class="bg-washed-blue">{{folder.name}}</span>
      <span *ngIf="!last" class="underline pointer" (click)="goUpTo(folder)">{{folder.name}}</span>
      <i *ngIf="!last" class="fa fa-angle-right" aria-hidden="true"></i>
    </ng-container>
  </h2>
  <div>
    <div *ngIf="!addNew">
      <a role="button" class="f6 link pointer ba mt2 ph3 pv2 ml2 mb2 dib black" (click)="toggleAddFile()">
        <i class="fa fa-plus" aria-hidden="true"></i> New
      </a>
    </div>
    <div *ngIf="addNew" class="ba">
      <div>
        <a class="ml2 f6 link pointer ba mt2 ph3 pv2 mb2 dib black" (click)="toggleAddFile()">
          <i class="fa fa-times" aria-hidden="true"></i> Cancel
        </a>
        <div class="f6 ml2">
          <small class="black-80">
            This will create a new item at the current location,
            <span class="bg-washed-blue">{{chain[chain.length - 1].name}}</span>.
            <br>You can still change folders to change this location.
          </small>
        </div>

        <div class="ml2 w-75">
          <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div class="pb2">
              <label class="f6 b db mb2" for="name">Name</label>
              <input type="text" class="input-reset ba b--black-20 pa2 mb2 db w-75" id="name" required [(ngModel)]="model.name" name="name"
                #name="ngModel">
              <div [hidden]="name.valid || name.pristine" class="light-red">
                Name is required
              </div>
            </div>

            <div class="pb2">
              <label class="f6 b db mb2" for="file-type">Item Type</label>
              <select class="ba bg-white b--black-20 pa2 mb2 h2 db w-75" id="file-type" required [(ngModel)]="model.type" name="file-type"
                #type="ngModel">
                <option *ngFor="let pow of formFileType" [value]="pow.type">{{pow.name}}</option>
              </select>
            </div>
            <button type="submit" class="button" *ngIf="heroForm.form.valid">Create</button>
            <button type="submit" [disabled]="true" class="button black-50 bg-washed-red" *ngIf="!heroForm.form.valid">Create</button>
            <!-- <button class="button" [disabled]="!heroForm.form.valid">Create</button> -->
          </form>
        </div>
        <!-- <csc428-new-file-form></csc428-new-file-form> -->
      </div>
    </div>

  </div>
  <table class="w-100">
    <thead>
      <tr class="tl">
        <th></th>
        <th>name</th>
        <th>type</th>
        <th>last modified</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let file of files; let idx=index">
        <!-- FOLDER -->
        <tr *ngIf="file.type == fileType.FOLDER" class="hover-bg-light-gray w-100 bb b--gray pointer pv2">
          <td (click)="goDeeper(file)">
            <i class="fa fa-folder-o" aria-hidden="true"></i>
          </td>
          <td *ngIf="idx === editRowId">
            <input #selectedInput type="text" [(ngModel)]="file.name" (blur)="noEdit()" (keyup.enter)="noEdit()" />
            <small>press enter to submit</small>
          </td>
          <td *ngIf="idx !== editRowId" style="cursor: cell" (click)="edit(idx, file)">{{file.name}}</td>
          <td (click)="goDeeper(file)">folder</td>
          <td (click)="goDeeper(file)">{{file.updated.toLocaleString()}}</td>
        </tr>
        <!-- VIDEO -->
        <tr class="not-allowed" *ngIf="file.type == fileType.MOVIE">
          <td>
            <i class="fa fa-file-movie-o" aria-hidden="true"></i>
          </td>
          <td *ngIf="idx === editRowId">
            <input #selectedInput type="text" [(ngModel)]="file.name" (blur)="noEdit()" (keyup.enter)="noEdit()" />
            <small>press enter to submit</small>
          </td>
          <td *ngIf="idx !== editRowId" style="cursor: cell" (click)="edit(idx, file)">{{file.name}}</td>
          <td (click)="openFile(file)">video</td>
          <td (click)="openFile(file)">{{file.updated.toLocaleString()}}</td>
        </tr>
        <!-- PDF -->
        <tr *ngIf="file.type == fileType.PDF" class="hover-bg-light-gray w-100 bb b--gray pointer pv2">
          <td (click)=openFile(file)>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </td>
          <td *ngIf="idx === editRowId">
            <input #selectedInput type="text" [(ngModel)]="file.name" (blur)="noEdit()" (keyup.enter)="noEdit()" />
            <small>press enter to submit</small>
          </td>
          <td *ngIf="idx !== editRowId" style="cursor: cell" (click)="edit(idx, file)">{{file.name}}</td>
          <td (click)="openFile(file)">pdf</td>
          <td (click)="openFile(file)">{{file.updated.toLocaleString()}}</td>
        </tr>
        <!-- TEXT -->
        <tr *ngIf="file.type == fileType.TEXT" class="hover-bg-light-gray w-100 bb b--gray pointer pv2">
          <td (click)=openFile(file)>
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </td>
          <td *ngIf="idx === editRowId">
            <input #selectedInput type="text" [(ngModel)]="file.name" (blur)="noEdit()" (keyup.enter)="noEdit()" />
            <small>press enter to submit</small>
          </td>
          <td *ngIf="idx !== editRowId" style="cursor: cell" (click)="edit(idx, file)">{{file.name}}</td>
          <td (click)="openFile(file)">text</td>
          <td (click)="openFile(file)">{{file.updated.toLocaleString()}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>