.button {
  cursor: pointer;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: black;
  border-radius: 0;
}
