<div class="ml2 w-75">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="pb2">
            <label class="f6 b db mb2" for="name">Name</label>
            <input type="text" class="input-reset ba b--black-20 pa2 mb2 db w-75" id="name" required [(ngModel)]="model.name" name="name"
                #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="light-red">
                Name is required
            </div>
        </div>

        <div class="pb2">
            <label class="f6 b db mb2" for="file-type">Item Type</label>
            <select class="ba bg-white b--black-20 pa2 mb2 h2 db w-75" id="file-type" required [(ngModel)]="model.type" name="file-type"
                #type="ngModel">
                <option *ngFor="let pow of fileType" [value]="pow.type">{{pow.name}}</option>
            </select>
        </div>

        <button type="submit" class="button" [disabled]="!heroForm.form.valid">Create</button>
    </form>
</div>