<router-outlet></router-outlet>
<div *ngIf="showIntro()">
  <article class="pa3 pa5-ns">
    <h1 class="f3 f1-m f-headline-l">428-desktop</h1>
    <p class="measure lh-copy">
      This is a project by Nagee and John for CSC428: Human Computer Interaction at the University of Toronto.
    </p>
    <p class="measure lh-copy">
      By clicking "Start", you agree to partecipate in this research project. No personal information will be collected.
    </p>
    <p class="measure lh-copy mb5">
      For more information, please reach out to
      <a href="mailto:john.axon@mail.utoronto.ca">John</a> or
      <a href="mailto:isthisnagee@gmail.com">Nagee</a>.
    </p>
    <a routerLink="/demo" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
      <span class="pr1">Start</span>
      <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronRight icon</title>
        <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
      </svg>
    </a>
  </article>
</div>
