<div *ngIf="currentPDF">
  <div class="center measure-wide f5 lh-copy ph2 athelas">
    <h1 (click)="copyTitle()" class="cursor-cell dim f1 lh-title" id="title">{{currentPDF.data.title}}</h1>
    <div class="lh-copy">
      <ng-container *ngFor="let words of tokenize(currentPDF.data.body)">
        <ng-container *ngIf="words.id == -1">
          <br>
        </ng-container>
        <ng-container *ngIf="words.id !== -1">
          <span (click)="copy( words)" class="dim cursor-cell" id="select-{{words.id}}">{{words.val}}</span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="!currentPDF">
  Select a PDF
</div>