/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import '~tachyons';
@import '~csshake/dist/csshake-little.css';

.not-allowed {
  cursor: not-allowed;
}
.cursor-cell {
  cursor: cell;
}
