.fs-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
}

.fs-close {
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fs-content {
  box-shadow: 2px 2px 2px black;
  background-color: #faebd7;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 6px solid gray;
  height: 80vh;
  width: 80%; /* Could be more or less, depending on screen size */
}
