<div *ngIf="hide" class="dn">
</div>
<div *ngIf="!hide">
  <div class="fs-container">
    <div class="fs-content">
      <div (click)="close()" class="fs-close">X</div>
      <div *ngIf="files">
        <h2 class="normal">
          <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ng-container *ngFor="let folder of chain; let last=last">
            <span *ngIf="last" class="bg-washed-blue">{{folder.name}}</span>
            <span *ngIf="!last" class="underline pointer" (click)="goUpTo(folder)">{{folder.name}}</span>
            <i *ngIf="!last" class="fa fa-angle-right" aria-hidden="true"></i>
          </ng-container>
        </h2>
        <table class="w-100">
          <thead>
            <tr class="tl">
              <th></th>
              <th>name</th>
              <th>type</th>
              <th>last modified</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let file of files; let idx=index">
              <!-- FOLDER -->
              <tr *ngIf="file.type == fileType.FOLDER" class="hover-bg-light-gray w-100 bb b--gray pointer pv2">
                <td (click)="goDeeper(file)">
                  <i class="fa fa-folder-o" aria-hidden="true"></i>
                </td>
                <td *ngIf="idx === editRowId">
                  <input #selectedInput type="text" [(ngModel)]="file.name" (blur)="noEdit()" (keyup.enter)="noEdit()" />
                  <small>press enter to submit</small>
                </td>
                <td *ngIf="idx !== editRowId" style="cursor: cell" (click)="edit(idx, file)">{{file.name}}</td>
                <td (click)="goDeeper(file)">folder</td>
                <td (click)="goDeeper(file)">{{file.updated.toLocaleString()}}</td>
              </tr>
              <!-- VIDEO -->
              <tr class="not-allowed" *ngIf="file.type == fileType.MOVIE">
                <td>
                  <i class="fa fa-file-movie-o" aria-hidden="true"></i>
                </td>
                <td *ngIf="idx === editRowId">
                  <input #selectedInput type="text" [(ngModel)]="file.name" (blur)="noEdit()" (keyup.enter)="noEdit()" />
                  <small>press enter to submit</small>
                </td>
                <td *ngIf="idx !== editRowId" style="cursor: cell" (click)="edit(idx, file)">{{file.name}}</td>
                <td (click)="openFile(file)">video</td>
                <td (click)="openFile(file)">{{file.updated.toLocaleString()}}</td>
              </tr>
              <!-- PDF -->
              <tr *ngIf="file.type == fileType.PDF" class="hover-bg-light-gray bg-light-blue w-100 bb b--gray pointer pv2">
                <td (click)="addFile(file)">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </td>
                <td *ngIf="idx === editRowId">
                  <input #selectedInput type="text" [(ngModel)]="file.name" (blur)="noEdit()" (keyup.enter)="noEdit()" />
                  <small>press enter to submit</small>
                </td>
                <td *ngIf="idx !== editRowId" style="cursor: cell" (click)="edit(idx, file)">{{file.name}}</td>
                <td (click)="addFile(file)">pdf</td>
                <td (click)="addFile(file)">{{file.updated.toLocaleString()}}</td>
              </tr>
              <!-- TEXT -->
              <tr *ngIf="file.type == fileType.TEXT" class="hover-bg-light-gray w-100 bb b--gray gray pv2">
                <td (click)=openFile(file)>
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </td>
                <td *ngIf="idx === editRowId">
                  <input #selectedInput type="text" [(ngModel)]="file.name" (blur)="noEdit()" (keyup.enter)="noEdit()" />
                  <small>press enter to submit</small>
                </td>
                <td *ngIf="idx !== editRowId" style="cursor: cell" (click)="edit(idx, file)">{{file.name}}</td>
                <td (click)="openFile(file)">text</td>
                <td (click)="openFile(file)">{{file.updated.toLocaleString()}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>